<div class="row gx-5 justify-content-center">
  <div class="col-lg-11 col-xl-9 col-xxl-8">
      <!-- Project Card 1-->
      <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
        <div class="col-md-2 d-flex justify-content-rihgt align-items-right m-3">
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-success btn-sm"
                  (click)="editProject()"><i class="bi bi-pencil-fill"></i></button>
              <button type="button" class="btn btn-outline-danger btn-sm"
                (click)="deleteProject()"><i class="bi bi-trash-fill"></i></button>
          </div>
      </div>
          <div class="card-body p-0">
              <div class="d-flex align-items-center">

                  <div class="p-3">
                      <h2 class="fw-bolder">{{project.projectname}}</h2>
                      <p>{{project.projectinfo}}</p>
                  </div>
                  <img class="img-fluid img-change" src="assets/image/{{project.profile}}" alt="..." />
              </div>
          </div>
      </div>
  </div>
</div>
