<div class="row gx-5 justify-content-center">
  <div class="col-lg-11 col-xl-9 col-xxl-8">
      <!-- Project Card 1-->
      <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
          <div class="card-body p-0">
              <div class="d-flex align-items-center">
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                  <div class="btn-group" role="group">
                      <button type="button" class="btn btn-outline-success"
                          (click)="editProject()">Edit</button>
                      <button type="button" class="btn btn-outline-danger"
                        (click)="deleteProject()">Delete</button>
                  </div>
              </div>
                  <div class="p-5">
                      <h2 class="fw-bolder">{{project.projectname}}</h2>
                      <p>{{project.projectinfo}}</p>
                  </div>
                  <img class="img-fluid" src="assets/image/{{project.profile}}" alt="..." />
              </div>
          </div>
      </div>
      <!-- Project Card 2-->
      <!-- <div class="card overflow-hidden shadow rounded-4 border-0">
          <div class="card-body p-0">
              <div class="d-flex align-items-center">
                  <div class="p-5">
                      <h2 class="fw-bolder">{{'project.cann' | translate}}</h2>
                      <p>{{'project.cann-p' | translate}} </p>
                  </div>
                  <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
              </div>
          </div>
      </div> -->
  </div>
</div>
