 <!-- Projects Section-->
 <section class="py-5">
  <div class="container px-5 mb-5">
      <div class="text-center mb-5">
          <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{'project.h1' | translate}}</span></h1>
      </div>

      <!-- add btn  -->
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div>
            <h2 class="text-primary fw-bolder mb-0" style="padding-left: 143px;">{{'project.h2' | translate}}</h2>
          </div>
          <div>
            <a class="btn btn-primary px-4 py-3"  style="margin-right: 140px;">
              <div class="d-inline-block bi bi-download me-2"></div>
              {{'project.down' | translate}}
          </a>
          </div>
        </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-11 col-xl-9 col-xxl-8">
              <!-- Project Card 1-->
              <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                  <div class="card-body p-0">
                      <div class="d-flex align-items-center">
                          <div class="p-5">
                              <h2 class="fw-bolder">{{'project.glt' | translate}}</h2>
                              <p>{{'project.glt-p' | translate}}</p>
                          </div>
                          <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                      </div>
                  </div>
              </div>
              <!-- Project Card 2-->
              <div class="card overflow-hidden shadow rounded-4 border-0">
                  <div class="card-body p-0">
                      <div class="d-flex align-items-center">
                          <div class="p-5">
                              <h2 class="fw-bolder">{{'project.cann' | translate}}</h2>
                              <p>{{'project.cann-p' | translate}} </p>
                          </div>
                          <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
  <div class="container px-5 my-5">
      <div class="text-center">
          <h2 class="display-4 fw-bolder mb-4">{{'project.let' | translate}}</h2>
          <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" (click)="contact()">{{'project.con' | translate}}</a>
      </div>
  </div>
</section>
