 <!-- Projects Section-->
 <section class="py-5">
  <div class="container px-5 mb-5">
      <div class="text-center mb-5">
          <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{'project.h1' | translate}}</span></h1>
      </div>

      <!-- add btn  -->
        <!-- <div class="d-flex align-items-center justify-content-between mb-4">
          <div>
            <h2 class="text-primary fw-bolder mb-0" style="padding-left: 143px;">{{'project.h2' | translate}}</h2>
          </div>
          <div>
            <a class="btn btn-primary px-4 py-3"  style="margin-right: 140px;">
              <div class="d-inline-block bi bi-download me-2"></div>
              {{'project.down' | translate}}
          </a>
          </div>
        </div> -->

        <div class="toolbar">

          <div class="add-employee">

            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
              data-bs-target="#exampleModal" #addEmployeeButton><i class="bi bi-plus-circle-fill"></i> {{'project.down' | translate}}</button>
          </div>

          <div class="search-employees">
            <input type="search" class="form-control" placeholder="{{'project.search' | translate}}"
            #searchInput (input)="searchProject(searchInput.value)">
          </div>

        </div>

         <!-- AREA TO DISPLAY ALL THE EMPLOYEES -->
      <div class="employees" >
        <div class="row mt-5" *ngIf="projects.length == 0">
          <div class="col text-center">
            <span class="text-secondary fs-3 fw-bold fst-italic">{{'project.err' | translate}}</span>
          </div>
        </div>

        <div class="row mt-4" *ngFor="let project of projectsToDisplay;let ei=index">
          <div class="col">
              <app-projectadd  [project]="project" (onRemoveProject)="removeProject($event)" (onEditProject)="editProject($event)"></app-projectadd>
          </div>
        </div>

      </div>


  </div>
</section>

<!-- modal  -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" >
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{'project.pro-in' | translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- form  -->
        <form [formGroup]="projectFrom">
          <div class="mb-3">
            <label  class="form-label">{{'project.pro-nm' | translate}}</label>
            <input type="text" class="form-control"  aria-describedby="emailHelp"  formControlName="projectname">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">{{'project.pro-de' | translate}}</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="projectinfo"></textarea>
          </div>
          <div class="mb-3">
            <label for="profile" class="form-label">{{'project.up' | translate}}</label>
            <input type="file" class="form-control" id="profile" #fileInput>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addProject()">{{'project.insert' | translate}}</button>
      </div>
    </div>
  </div>
</div>


<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
  <div class="container px-5 my-5">
      <div class="text-center">
          <h2 class="display-4 fw-bolder mb-4">{{'project.let' | translate}}</h2>
          <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" (click)="contact()">{{'project.con' | translate}}</a>
      </div>
  </div>
</section>

